/* Здесь будут храниться стили нашего сайта */

body{
    margin: 0;
    font-family: 'Roboto';
    font-size: 18px;
}
img{
    max-width: 100%;
}
header{
    padding-top: 59px;
    background-color: #3a7dfd;
    color: #fff;
}
.header-pretitle{
    margin-top: 102px;
}
.header-img{
    padding-bottom: 20px;
}
.header-title{
    font-size: 45px;
    font-weight: 700;
    line-height: 46.81px;
    margin-top: 21px;
}
.header-subtitle{
    margin-top: 25px; 
}
.header-button{
    display: inline-block;
    text-decoration: none;
    box-shadow: 4px 4px 10px 6px rgba(18, 61, 145, 0.4);
    border-radius: 50px;
    background-color: #ffffff;
    color: #2B64D4;
    font-size: 18px;
    font-weight: 700;
    padding: 17px 55px; 
    margin-top: 12px;    
    border: none;
}
.header-button:hover{
    box-shadow: none;
    color: #fff;
    background-color: #1145A6;
    transition: 0.8s;
}

header small{
    font-size: 12px;
    display: block;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 10px;
}
.header-button-block{
    max-width: 210px
}
/* секция портфолио */
.portfolio{
    background-color: #E6E9EC;
    padding-top: 44px;
    padding-bottom: 71px;
}
.portfolio-block{
    background-color: #fff;
    padding-top: 29px;
    padding-bottom: 44px;
}
.portfolio-title{
    text-transform: uppercase;
    font-size: 18px;
    color: #072b6f;
    margin-bottom: 10px;
}
.portfolio-subtitle{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 14px;
    color: #7bb9ff;
}
.portfolio-title, .portfolio-subtitle {
    text-align: center;
}
.portfolio-col1{
    padding-left: 50px;
}
.portfolio-col2{
    padding-right: 50px;
}
.portfolio-block img{
    width: 100%;
}
.portfolio-block h3{
color: #072b6f;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
}
.portfolio-text{
color: #8f8f8f;
font-size: 14px;
font-weight: 400;
}
.portfolio-block a{
color: #072b6f;
font-size: 14px;
font-weight: 400;
text-decoration: underline;
}
/* оформление подвала */
footer{
    background-color: #3a7dfd;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 70px; 
}
.footer-author{
    font-size: 24px;
    margin-bottom: 7px;
}
.footer-text{
    margin-top: 0;
}
.social-block{
    text-align: center;
    overflow:hidden;
}
.social-block a {
    display: inline-block;
    margin-left: 13px;
    margin-right: 13px;
}
.social-block p{
    margin-top: 0;
}
.scale:hover {
	transform: scale(1.3);
    transition: all 0,5s ease-out;
}

.footer-cta-block{
    text-align: center;
}
.footer-cta{
    margin-bottom: 7px;
}
.footer-button{
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    padding: 12px 40px;
}
.header-button, .footer-button{
    cursor:pointer;
}

.footer-button:hover{
    color: #3A7DFD;
    background-color: #fff;
    transition: 0.8s;
}

@media (max-width: 1200px){
    .header-pretitle{
    margin-top: 60px;
    }
}
@media (max-width: 992px){
    .header-img{
        display: none;
    }
    
    .header-pretitle{
        margin-top: 10px;
    }
    
    .footer-author{
        font-size: 18px;
    }
    
    .footer-text{
        font-size: 14px;
    }
    
    .social-block a {
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .social-block img {
        width: 30px;
    }
    
    .footer-button{
        font-size: 14px;
        padding: 8px 35px;
    }
}
@media (max-width: 768px){
    .portfolio-col1{
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 40px;
    }
    
    .portfolio-col2{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .footer-author, .footer-text{
        text-align: center;
    }
    
}